
body{
    background: -webkit-linear-gradient(to right, #F5C367, #EE441C);
    background: linear-gradient(to right, #F5C367, #EE441C);
}


#contenedorLogin {

    width: 450px;
    border-top: 522px;
    padding: 10px;
    border: 2px;
    border-color: transparent;
    background-color: #F5EFE3;
    margin: 50px;
    margin-left: 490px;
    margin-top: 210px;
    border-radius: 15px;
    
}

.contenedorT{
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.text{
    margin-left: 3px;
    width: 350px;
    height: 28px;
    border-radius: 5px;
    border: none;

}

.text12{
    margin-left: 3px;
    width: 300px;
    height: 28px;
    border-radius: 5px;
    border: none;

}

.imagen{
    margin-top: 3px;
    margin-left: 25px;
}

.ver{
    background-color: transparent;
    border: none;
    margin-top: 3px;
}

.titulo{
    margin-left: 130px;
    margin-top: 15px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(#F5C367, #EE441C);
    -webkit-background-clip: text;
    color: transparent;
}

#olvide{

    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-left: 144px;

}

#bingresar{

    margin-left: 150px;
    margin-top: 4px;

    width: 140px;
    height: 25px;
    border-radius: 5px;
    border: none;

    background: -webkit-linear-gradient(to right, #F5C367, #EE441C);
    background: linear-gradient(to right, #F5C367, #EE441C);

    color: #F5EFE3;

}

#barrita{
    background: -webkit-linear-gradient(to right, #F5C367, #EE441C);
    background: linear-gradient(to right, #F5C367, #EE441C);

}

#izquierdo{
    margin-left: 105px;
}